{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">

            <form class="form-inline" role="search" action="{% url 'search' %}">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="name">
                <button type="submit" class="btn btn-outline-white btn-md my-2 btn-sm">Search</button>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="container" style="margin:10px;">
    {% for c in content %}
    <a class="card" href="/profile/{{c.name}}" style="color:black;text-decoration:none;">
        <div class="card-body">
            <p>{{c.name}}</p>
        </div>
    </a>
    {% endfor%}
</div>
{% endblock %}